/* NEW */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #4CAEFF;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
}
fieldset {
	border: none;
}
h2 {
	font-size: 2.2em;
}
h4 {
	font-size: 1.2em;
}
#innerHeader, #innerSection, #innerFooter {
	max-width: 1020px;
	min-width: 310px;
	margin: 0 auto;
	padding: 0 10px;
}
#mainHeader {
	background-color: #00457F;
	color: #FFF;
	margin-bottom: 20px;
}
#innerHeader {
	font-family: 'Noto Serif', serif;
	padding: 10px 10px;
}
#innerFooter {
	text-align: center;
	padding: 20px 0;
	font-size: 0.9em;
}
.box {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}
.box label {
	width: 20%;
	display: inline-block;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
}
.box input {
	width: 80%;
	display: inline-block;
	margin-left: -5px;
	border: 1px solid #CCC;
	box-sizing: border-box;
	padding: 5px 5px;
}
#submit {
	width: 200px;
	margin: 0 auto;
}
#submit input {
	background-color: #006FCC;
	color: #FFF;
	border: 1px solid #006FCC;
	padding: 6px 10px;
	font-size: 1.2em;
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
}
@media (max-width: 860px) {
	.box:nth-child(even) {
		box-sizing: border-box;
		padding-right: 5px;
	}
	.box:nth-child(odd) {
		box-sizing: border-box;
		padding-left: 5px;
	}
	.box label {
		width: 100%;
		text-align: left;
		display: block;
		margin-bottom: 3px;
	}
	.box input {
		width: 100%;
		display: block;
		margin-left: 0px;
	}
}
@media (max-width: 500px) {
	.box {
		float: none;
		padding: 0 !important;
		width: 100%;
	}
	.box label {
		display: none;
	}
}
